


@media screen and (min-width: 768px) and (max-width: 992px) {
    .tela-login {
        width: 90vw;
    }

    .imagem {
        float: left;
        width: 45%;
        height: 100%;
    
    }

    .formulario {
        float: right;
        width: 55%;
        margin-top: 50px;
    }

    .email > input {
        font-size: 1em;
        width: 90%;
        height: 30px;
    }

    .senha > input {
        font-size: 1em;
        width: 90%;
        height: 30px;
    }

    .botoes {
        margin-top: 70px;
    }
}

@media screen and (min-width:992px) {
    .tela-login {
        width: 900px;
    }

    .imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    .formulario {
        float: right;
        width: 50%;
    }

    .email > input {
        font-size: 1em;
        width: 343px;
        height: 30px;
    }

    .senha > input {
        font-size: 1em;
        width: 342px;
        height: 30px;
    }

    .botoes {
        margin-top: 70px;
    }
}